@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{

    ViewBag.Title = "Home Page";
}


<header></header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">

                <h2> </h2>
            </div>
        </div>
    </div>
    <div class="hi">
        <img src="~/N_Img/oen.png" />
    </div>
</section>
<div id="accordion-container">
    <h2 class="accordion-header">Section 1</h2>
    <div class="accordion-content">
        <p>Section 1 Content</p>
        <p> test test test</p>
        <p>가나다라마바사 </p>
        <div class="close">이거누르면닫힘</div>
    </div>
</div>


<div class="col-md-12">
    <img src="">
</div>


<script>
    $(document).ready(function () {
        $(".accordion-content").hide();
        $(".accordion-header").click(openAccordion);
        $(".close").click(closeAccordion);
    });
    function openAccordion() {
        $(".accordion-content").show("fast");
    }
    function closeAccordion() {
        $(".accordion-content").hide("fast");
    }
    function change_off() {
        $("header").css("background-image", "url('../Images/Main/main-light off.png')");
    }
    function change_on() {
        $("header").css("background-image", "url('../Images/Main/main-light on.png')");
    }
    function main_chage() {
        for (var i = 0; i < 5; i++) {
            setTimeout('change_off()', 2000);
            setTimeout('change_on()', 2000);
        }
    }
    setTimeout('change_off()', 1000);
    setTimeout('change_on()', 1500);
    setTimeout('change_off()', 2000);
    setTimeout('change_on()', 2500);
    setTimeout('change_off()', 3000);
    setTimeout('change_on()', 3500);
    setTimeout('change_off()', 4000);
    setTimeout('change_on()', 4250);
    setTimeout('change_off()', 4500);
    setTimeout('change_on()', 4750);
    setTimeout('change_off()', 5000);
    setTimeout('change_on()', 5250);
</script>