<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <title>열정페이</title>
    <!--우측 슬라이드바 css입니다.-->
    <link href="~/Content/slidecss/demo.css" rel="stylesheet" />
    <link href="~/Content/slidecss/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/slidecss/normalize.css" rel="stylesheet" />
    <link href="~/Content/slidecss/menu_sideslide.css" rel="stylesheet"/>
    <!--index-page css입니다.-->
    <link href="~/Content/index.css" rel="stylesheet" />
    <!-- 게이지바 css입니다.-->
    <link href="~/Content/droplist/vallenato.css" rel="stylesheet" />
    <!--jquery사용을 위한 js파일입니다.-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
    <!-- 우측 슬라이드바 부분입니다. Jquery부분은 index.cshtml에 있습니다.-->
    <div class="container">
        <div class="menu-wrap">
            <nav class="menu">
                <div class="icon-list">
                    <a href="#"><span>TEST1</span></a>
                    <a href="#"><span>TEST2</span></a>
                    <a href="#"><span>TEST3</span></a>
                    <a href="#"><span>TEST4</span></a>
                    <a href="#"><span>TEST5</span></a>
                    <a href="#"><span>TEST6</span></a>
                </div>
            </nav>
            <button class="close-button" id="close-button">Close Menu</button>
        </div>
        <button class="menu-button" id="open-button">Open Menu</button>
        <div class="content-wrap">
            @RenderBody()
        </div>
    </div>
    <!-- 우측 슬라이드바에 대한 js파일입니다.-->
    <script src="~/Scripts/Slide/main.js"></script>
    <script src="~/Scripts/Slide/classie.js"></script>
</body>
</html>
